#section1{
	padding-top:50px;
}
#section2{
	background-image : url("../images/slide_2.jpg");
	padding-top:50px;
	height: 80%;
}
#section3{
	height : 1600px;
	padding-top:50px;
}
#section4{
	height : 500px;
	padding-top:50px;
}
#section31{
	height : 500px;
	padding-top:50px;
}
#section32{
	height : 500px;
	padding-top:50px;
}
#section33{
	height : 500px;
	padding-top:50px;
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
      width: 100%;
	  padding-left: 10%;
	  padding-right: 10%;
      margin: auto;
  }
  
.carousel-indicators li {
    color: red;
}
.sec1details{
	height: 200px;
}
.col-sm-3 img{
	width: 90%;
	margin : auto;
}
.col-sm-3 p{
	
}
.col-sm-3 h3{
	font-family: 'Source Sans Pro', sans-serif;
}
#large_btn{
    display: inline-block;
    padding: 1em 2em 1em 2em;
    background: #ff471a;
    letter-spacing: 0.20em;
    text-transform: uppercase;
    font-weight: 400;
    font-size: 0.90em;
    color: #FFF;
}
.caption {
    position: absolute;
    top: 45%;
    left: 0;
    width: 100%;
}
.caption p{
	padding-left: 10%;
	padding-right: 10%;
	margin: auto;
}
.btn-block{
	width: 45%;
	margin: auto;
}
.large_btn{
	margin-left:10%;
}
figure {
    position: relative;
    display: inline-block;
}

figcaption {
    display: none;
    position: absolute;
    left: 40%;
	top: 45%;
}

figure:hover img {
    opacity: .7;
}

figure:hover figcaption {
    display: block;
}