<html>
<head>
<title>web page</title>
<meta charset="urf-8">
<meta name ="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href = "../css/bootstrap.min.css"/>
<link rel="stylesheet" href = "../css/style.css"/>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="../javascript/jquery.min.js"></script>
</head>
<body data-spy="scroll" data-target=".navbar" data-offset="50">
<nav class="navbar navbar navbar-fixed-top">
	<div class= "container-fluid">
		<div class="navbar-header">
			<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavBar">
				<span class ="icon-bar"></span>
				<span class ="icon-bar"></span>
				<span class ="icon-bar"></span>
			</button>
		</div>
		
		<div>
			<div class="collapse navbar-collapse" id="myNavBar">
				<ul class="nav navbar-nav">
					<li><a href="#section1">Home</a></li>
					<li><a href="#section2">About us</a></li>
					<li class="dropdown"><a class="dropdown-toggle" data-toggle="dropdown" href="#"> Collection <span class="caret"></span></a>
						<ul class="dropdown-menu">
							<li><a href="#section31"> Music </a></li>
							<li><a href="#section32"> Films </a></li>
							<li><a href="#section33"> Games </a></li>
						</ul>
					</li>
					<li><a href="#section4">Contact us</a></li>
				</ul>
			</div>
		</div>
	</div>
</nav>
<div id="section1" class="container-fluid">
<p>hi</p>
</div>
<div id="section2" class="container-fluid">
<p>hi</p>
</div>
<div id="section3" class="container-fluid">
<p>hi</p>
</div>
<div id="section4" class="container-fluid">
<p>hi</p>
</div>
</body>
</html>